* {
    font-family: 'IBM Plex Sans', sans-serif;
}

h2 {
    padding-bottom: 20px;
}

.centered {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
    border: 1px solid black;
    box-shadow: 10px 10px;
}

#blog-form-wrapper {}

#blog-form-text {}

#loginform {}

#user-form {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 20px;
}

.form-field {
    margin: 5px 5px 5px 5px;
}

.nav-button {
    /* width: 40px; */
    /* height: 40px; */
    /* border: 1px solid white; */
    /* border-radius: 5px; */
    /* background-color: grey; */
}

.user-form {
    width: 50%;
    margin: 0 auto;
}

#post-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px; 
    border: 1px solid black;
    box-shadow: 10px 10px;
}

.post-header {
    text-decoration: underline;
}

.post-text {
    margin-top: 10px;
}

.post-footer {
    font-size: 20;
    color: grey;
    margin-top: 4px;
}
